<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <th>NUMBER</th>
        <th>TITLE</th>
        <th>WRITER</th>
    </tr>
    <tr th:each="studyroom : ${studyrooms}">
        <td th:text="${studyroomStat.count}"></td>
        <td th:text="${studyroom.title}" th:onclick="|location.href='@{/studyroom/{roomId}/edit(roomId=${studyroom.id})}'|"></td>
        <td th:text="${studyroom.mainCategory}"></td>
        <td th:text="${studyroom.subCategory}"></td>
        <td th:text="${studyroom.imgUrl}"></td>
    </tr>
</table>
<div th:each="studyroom : ${studyrooms}">
    <form th:action="@{/studyroom/join/{roomId}(roomId=${studyroom.id})}" method="post">
        <button type="submit" th:text="${studyroom.title}+'입장'"></button>
    </form>
    <form th:action="@{/studyroom/leave/{roomId}(roomId=${studyroom.id})}" th:method="delete">
        <button type="submit">나가기</button>
    </form>
</div>
<button><a th:href="@{/studyroom/new}" th:text="'나의 스터디룸 만들러 가기'"></a></button>
</body>
</html>