<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
</head>
<body>
<div id="chat-container">
</div>
<div>
    <form id="chatForm" name="chatForm">
        <div class="form-group">
            <input type="text" id="chat" placeholder="채팅방 이름" class="form-control" />
        </div>
        <div class="form-group">
            <button type="submit">시작하기</button>
        </div>
    </form>
</div>
<div class="connecting">
    연결중...
</div>
<form id="chatMessage" name="chatMessage">
    <div class="form-group">
        <div class="input-group clearfix">
            <input type="text" id="message" placeholder="메세지 입력" autocomplete="off" class="form-control"/>
            <button type="submit" class="primary">보내기</button>
        </div>
    </div>
</form>
<script>
    let chatForm = document.querySelector('#chatForm');
    let chatContainer = document.querySelector('#chat-container');
    let stompClient = null;
    let chat = null;
    function connect(event) {
        chat = document.querySelector('#chat').value.trim();
        if(chat) {
            let socket = new SockJS('/portfolio');
            stompClient = Stomp.over(socket);
            stompClient.connect({}, onConnected, onError);
        }
        event.preventDefault();
    }

    function onConnected() {
        chat = document.querySelector('#chat').value.trim();
        stompClient.subscribe(`/topic/${chat}`, onMessageReceived);
        // stompClient.send("/app/chat",
        //     {},
        //     JSON.stringify({sender: chat, type: 'JOIN'})
        // )
        connectingElement.classList.add('hidden');
    }

    function onMessageReceived(payload){
        let message = JSON.parse(payload.body);
        chatContainer.append(message.content);
    }

    let chatMessage = document.querySelector('#chatMessage');
    let messageInput = document.querySelector('#message');
    function sendMessage(event) {
        let messageContent = messageInput.value.trim();
        if(messageContent && stompClient) {
            let chatMessage = {
                chatroom: chat,
                content: messageInput.value,
                type: 'CHAT'
            };
            chat = document.querySelector('#chat').value.trim();
            stompClient.send(`/app/chat/${chat}`, {}, JSON.stringify(chatMessage));
            let temp = `${messageInput.value}`
            chatContainer.append(temp);
            messageInput.value = '';
        }
        event.preventDefault();
    }

    let connectingElement = document.querySelector('.connecting');
    function onError() {
        connectingElement.textContent = '연결불가';
        connectingElement.style.color = 'red';
    }

    chatForm.addEventListener('submit', connect, true);
    chatMessage.addEventListener('submit', sendMessage, true)
</script>
</body>
</html>