<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <th>NUMBER</th>
        <th>TITLE</th>
        <th>CONTENT</th>
        <th>WRITER</th>
        <th>DATE</th>
        <th>MAIN</th>
        <th>SUB</th>
        <th>COMMENTS</th>
    </tr>
    <tr th:each="post : ${posts}">
        <td th:text="${postStat.count}"></td>
        <td th:text="${post.title}"><a th:href="@{/posts/{postId}(postId=${post.id})}"></a></td>
        <td th:text="${post.content}"></td>
        <td th:text="${post.writer}"></td>
        <td th:text="${post.createdAt}"></td>
        <td th:text="${post.mainCategory}"></td>
        <td th:text="${post.subCategory}"></td>
        <td th:text="${post.commentCnt}"></td>
    </tr>
</table>
</body>
</html>